<style>
    /** Vollkorn for body text **/
    @font-face {
        font-family: "Vollkorn";
        src: url("{{ "/assets/fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf" | relative_url }}") format("truetype");
        font-weight: 400 900;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Vollkorn";
        src: url("{{ "/assets/fonts/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf" | relative_url }}") format("truetype");
        font-weight: 400 900;
        font-style: italic;
        font-display: swap;
    }
    /** Lato for headers **/
    @font-face {
        font-family: "Lato";
        src: url("{{ "/assets/fonts/Lato/Lato-Regular.ttf" | relative_url }}") format("truetype");
        font-style: normal;
        font-display: swap;
    }
    /** JetBrains Mono for codeblocks **/
    @font-face {
        font-family: "JetBrains Mono";
        src: url("{{ "/assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf" | relative_url }}") format("truetype");
        font-weight: 100 800;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "JetBrains Mono";
        src: url("{{ "/assets/fonts/JetBrainsMono/JetBrainsMono-Italic-VariableFont_wght.ttf" | relative_url }}") format("truetype");
        font-weight: 100 800;
        font-style: italic;
        font-display: swap;
    }
</style>
