<header class="site-header" role="banner">

  <div class="wrapper">
    <div class="site-identity">
      <a href="{{ "/" | relative_url }}"><img src="{{ "/assets/profile-small.jpg" | relative_url }}" alt="{{ site.title | escape }}"></a>
      <div class="site-identity-text">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <p>PhD Student, University of Cambridge</p>
        <p><a href="mailto:ljvm2@cam.ac.uk">ljvm2@cam.ac.uk</a></p>
        <nav class="site-nav">
          <a class="page-link" href="/about/">About</a> &middot;
          <a class="page-link" href="/life/">Life</a> &middot;
          <a class="page-link" href="/research/">Research</a> &middot;
          <a class="page-link" href="/projects/">Projects</a> &middot;
          <a class="page-link" href="/notebook/">Notebook</a>
          <!-- <a class="page-link" href="/filipino-nlp/">Filipino NLP</a> -->
        </nav>
      </div>
    </div>
  </div>
</header>
