{% include base_path %}

{% if site.social_sites.github %}<a href="https://github.com/{{ site.social_sites.github }}"><svg class="svg-icon"><use xlink:href="/assets/icons.svg#github"></use></svg></a>{% endif %}
{% if site.social_sites.mastodon %}<a href="https://{{ site.social_sites.mastodon.server }}/@{{ site.social_sites.mastodon.username }}"><svg class="svg-icon"><use xlink:href="/assets/icons.svg#mastodon"></use></svg></a>{% endif %}
{% if site.social_sites.twitter %}<a href="https://twitter.com/{{ site.social_sites.twitter}}"><svg class="svg-icon"><use xlink:href="/assets/icons.svg#twitter"></use></svg></a>{% endif %}
