{% assign grouped = site.data.publications | group_by: "category" %}
{% for group in grouped %}
{% if group.name != "" %}
<h3 class="pub-category">{{ group.name }}</h3>
{% assign cat_def = site.data.pub_categories | where: "name", group.name | first %}
{% if cat_def.description and cat_def.description != "" %}
<p class="pub-category-desc">{{ cat_def.description }}</p>
{% endif %}
{% endif %}
{% for pub in group.items %}
<div class="pub-entry">
<div class="pub-img">
<img src="{{ pub.image }}" alt="{{ pub.title }}">
</div>
<div class="pub-details">
<a href="{{ pub.url }}"><strong>{{ pub.title }}</strong></a>
<br><em>{{ pub.venue }}</em>
<br>{{ pub.authors }}
<br>{% for link in pub.links %}<a href="{{ link.url }}">{{ link.label }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}
</div>
</div>
{% endfor %}
{% endfor %}
