@media (min-width: 768px) {
  .divider {
    display: flex;
  }
}

.left {
  flex: 0 0 40%;
  text-align: center;
  padding: 10px;
}

.right {
  flex: 1;
  padding: 10px;
}

#profilepic {
  border-radius: 0;
  width: 250px;
  height: 250px;
  text-align: center;
}