/**
 * Paper container for lifted effect
 */
.paper-container {
  background-color: $background-color;
  box-shadow: 4px 4px 0 #bbb;
  margin: $spacing-unit auto;
  max-width: $content-width;
  position: relative;
}

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 0.8;
  background-color: $background-color;
  padding: 0 calc(#{$spacing-unit} * 1.5);

  @include media-query($on-palm) {
    padding: 0 calc(#{$spacing-unit} * 0.25);
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -0.015em;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    float: right;
    position: relative;
    margin-top: 8px;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg path {
        fill: $grey-color-dark;
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    input:checked~.trigger {
      display: block;
      padding-bottom: 5px;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
      margin-top: 5px;
      z-index: 1;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit calc(#{$spacing-unit} * 1.5);
  background-color: $background-color;

  @include media-query($on-palm) {
    padding: calc(#{$spacing-unit} * 0.5) calc(#{$spacing-unit} * 0.25);
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0;
  background-color: $background-color;
}

.wrapper {
  background-color: $background-color;
  padding: $spacing-unit calc(#{$spacing-unit} * 2.5);
  // padding: $spacing-unit calc(#{$spacing-unit} * 1.5);
  margin: 0 auto;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding: $spacing-unit / 2 $spacing-unit;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -0.015em;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  counter-reset: figure; // for auto-numbered .post-figure captions

  h2 {
    @include relative-font-size(2);
    line-height: 1.2;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Scholar buttons
 */
.scholar-buttons {
  margin: 15px 0 0;
  text-align: left;

  p {
    margin-bottom: 0;
  }
}

a.scholar-btn,
a.scholar-btn:visited {
  color: #666 !important;
  text-decoration: none !important;
  border-bottom: 1px dotted #999;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    color: #a00000 !important;
    border-bottom-color: #a00000;
  }
}