---
layout: default
---

<div class="home">

  <div class="divider">
    <div class="left">
      <img id="profilepic" width="200" height="200" src="assets/profile.jpg" alt="Profile">
    </div>
    <div class="right">
      <p>Hi! I'm Lj Miranda, and welcome to my website!</p>
      <p>
        I'm a <a href="https://allenai.org/predoctoral-young-investigators">predoctoral
          researcher</a> at the <a href="https://allenai.org/allennlp">AllenNLP
          team</a> at <a href="https://allenai.org/">AI2</a>. Previously, I was a
        machine learning engineer at <a href="https://explosion.ai">Explosion</a> working on <a
          href="https://spacy.io">spaCy</a>.
      </p>
      <p>
        I'm broadly interested in data-centric approaches to building language technologies at scale.
        <!-- My research interests include efficient NLP, low-resource languages, and corpus linguistics. -->
        I'm happy to discuss <a href="/research">research</a> and collaborate, so feel free to <a
          href="mailto:ljvmiranda@gmail.com">reach
          out</a>!
      </p>
      <!-- <p>
        <i>I'm happy to discuss research, so feel free to <a href="mailto:ljvmiranda@gmail.com">reach out</a>!</i>
      </p> -->
    </div>
  </div>


  <!--
  <div style="display:flex;justify-content:center;">
    <iframe src="https://ljvmiranda.substack.com/embed" width="480" height="100"
      style="border:0px solid #EEE; background:fffff8;" frameborder="0" scrolling="no"></iframe>
  </div>
  -->

  &nbsp;

  <hr>

  &nbsp;

  <h2>Recent Posts</h2>

  <ul class="post-list">
    {% assign mainPosts = site.posts | where: 'type', 'post' %}
    {% for post in mainPosts limit:3 %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }} &verbar; {{ post.category | capitalize }}</span>

      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p style="color:#828282">{{ post.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>