---
layout: default
---


<h2 class="post_title">{{page.title}}</h2>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li>
    <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    <ul class="tag_list">
      {% for tag in post.tags %}
      <li class="inline_archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    <div class="my-excerpt"><span><p>&ldquo;{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;&rdquo;</p></span></div>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>